@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');

/* font-family: 'Barlow Condensed', sans-serif; */
/* font-family: 'Bellefair', serif; */
/* font-family: 'Barlow', sans-serif; */

:root {
    --dark-font: #0B0D17;
    --light-font: #D0D6F9;
    --blur: #979797;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    cursor: default;
    /* overflow: hidden; */
}

a {
    text-decoration: none;
    color: var(--light-font);
    font-size: 1rem;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

p {
    font-size: 18px;
    color: var(--light-font);
    line-height: 2rem;
    font-family: 'Barlow', sans-serif;
}

h1 {
    color: white;
    font-size: 90px;
    font-family: 'Bellefair', serif;
    font-weight: 400;
    text-transform: uppercase;
}

h2 {
    color: var(--light-font);
    font-size: 28px;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4.72px;
}

body {
    height: 100vh;
    background: no-repeat center center/cover url(../assets/destination/background-destination-desktop.jpg);
    padding: 40px 165px 131px 55px;
    overflow: hidden;
}

#hamburger,
#close {
    display: none;
}

#nav-items-mobile {
    display: none;
}





/* Navbar */

#navbar {
    display: flex;
    height: 96px;
    align-items: center;
    position: relative;
    z-index: 5;
    justify-content: space-between;
}

.line {
    width: 473px;
    height: 1px;
    background-color: white;
}

#nav-items {
    display: flex;
    justify-content: space-between;
    width: 542px;
    height: 19px;
}

.link-no {
    font-weight: bold;
    margin-right: 11px;
}

.nav-link-underline {
    margin-top: 35px;
    background-color: white;
    width: 100%;
    height: 3px;
    transition: 0.6s;
    display: none;
    opacity: 0;
}

#link-2-underline {
    display: block;
    opacity: 1;
}

.blur-background {
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(11px);
    position: absolute;
    z-index: 2;
    width: 830px;
    height: 96px;
    right: 0;
    top: 40px;
}




/* Header */

header {
    width: 100%;
    padding-left: 180px;
    margin: 50px auto;
}

#title>* {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 4.2px;
}

.title-no {
    margin-right: 10px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
}





/* Main */

main {
    padding-left: 240px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 445px;
}

main img {
    animation: 240s rotate infinite linear;
    
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}





/* Main-2 */

.content-box {
    width: 445px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 40px;
}

.link a {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2.7px;
}

.link-underline {
    width: 0%;
    height: 3px;
    background-color: white;
    margin-top: 10px;
    transition: 300ms;
    opacity: 0;
    display: none;
}

#inner-link-2-underline {
    display: block !important;
    opacity: 0.7 !important;
    width: 100% !important;
}

.inner-line {
    height: 1px;
    background-color: #383B4B;
    width: 100%;
}

.inner-flex {
    display: flex;
    gap: 60px;
}

.inner-flex-box {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.inner-flex-box p {
    font-size: 14px;
    letter-spacing: 2.3px;
}

.inner-flex-box h3 {
    font-size: 28px;
    color: white;
    font-family: 'Bellefair',serif;
    font-weight: 400;
}




























@media (min-height: 850px) {
    header {
        margin: 100px auto;
    }
    
    main {
        padding-left: 180px;
    }
}

@media (max-width: 1400px) {
    main {
        padding-left: 100px;
    }
}


@media (max-width: 1250px) {
    body {
        padding: 40px 70px 131px 30px;
    }

    header {
        width: 90%;
        padding-left: 30px;
    }

    main {
        padding-left: 20px;
    }

    .content-box {
        width: 350px;
    }

    .line {
        display: none;
    }
}

@media (max-width:950px) {
    * {
        overflow: unset;
    }

    body {
        background: center center/cover url(../assets/destination/background-destination-tablet.jpg);
        padding: 0 0 90px 0;
        height: 1024px;
        text-align: center;
        overflow: unset;
    }

    .blur-background {
        display: none;
    }

    #navbar {
        margin: 0 20px auto;
    }

    #nav-items {
        width: 356px;
    }

    .link-no {
        margin-right: 5px;
    }

    header {
        padding-left: 20px;
        margin: 50px auto 30px;
        text-align: left;
    }

    #title>* {
        font-size: 1.2rem;
        letter-spacing: 2.2px;
    }

    main {
        padding-left: 0;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 40px;
    }

    main img {
        height: 300px;
        width: 300px;
    }

    .content-box {
        width: 90%;
        align-items: center;
        gap: 20px;
    }


}

@media (max-width:560px) and (orientation: portrait) {
    p {
        font-size: 15px;
        line-height: 1.2;
    }
    
    h1 {
        font-size: 50px;
    }
    
    h2 {
        font-size: 18px;
        letter-spacing: 2.72px;
    }
    
    body {
        background: center center/cover url(../assets/destination/background-destination-mobile.jpg);
        height: 850px;
        padding: 0 24px 48px;
        overflow-x: hidden;
    }

    #navbar {
        margin: 0;
        position: static;
    }

    #nav-items {
        display: none;
    }

    #hamburger {
        display: block;
    }

    #close {
        display: none;
        position: absolute;
        z-index: 100;
        right: 24px;
    }


    #nav-items-mobile {
        display: none;
        flex-direction: column;
        height: 100vh;
        width: 55%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 50;
        text-align: left;
        gap: 50px;
        padding-top: 100px;
        padding-left: 40px;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(20px);
        animation: nav-slide 0.3s ease-out;
    }

    @keyframes nav-slide {
        from {
            right: -200px;
        }
    }

    a {
        font-size: 1rem;
    }

    header {
        padding-left: 0px;
        text-align: center;
        margin: 20px auto 30px;
    }

    main img {
        height: 170px;
        width: 170px;
    }

    .links {
        gap: 10px;
    }

    .link a {
        letter-spacing: 0;
    }

    .inner-flex {
        flex-direction: column;
        gap: 20px;
    }

    .inner-flex-box h3 {
        font-size: 20px;
    }
}