@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');

/* font-family: 'Barlow Condensed', sans-serif; */
/* font-family: 'Bellefair', serif; */
/* font-family: 'Barlow', sans-serif; */

:root {
    --dark-font: #0B0D17;
    --light-font: #D0D6F9;
    --blur: #979797;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    cursor: default;
    /* overflow: hidden; */
}

a {
    text-decoration: none;
    color: var(--light-font);
    font-size: 1rem;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

p {
    font-size: 18px;
    color: var(--light-font);
    line-height: 2rem;
    font-family: 'Barlow', sans-serif;
}

h1 {
    color: white;
    font-size: 150px;
    font-family: 'Bellefair', serif;
    font-weight: 400;
    text-transform: uppercase;
}

h2 {
    color: var(--light-font);
    font-size: 28px;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4.72px;
}

body {
    height: 100vh;
    background: no-repeat center center/cover url(../assets/home/background-home-desktop.jpg);
    padding: 40px 165px 131px 55px;
    overflow: hidden;
}

#hamburger,#close {
    display: none;
}

#nav-items-mobile {
    display: none;
}





/* Navbar */

#navbar {
    display: flex;
    height: 96px;
    align-items: center;
    position: relative;
    z-index: 5;
    justify-content: space-between;
}

.line {
    width: 473px;
    height: 1px;
    background-color: white;
}

#nav-items {
    display: flex;
    justify-content: space-between;
    width: 542px;
    height: 19px;
}

.link-no {
    font-weight: bold;
    margin-right: 11px;
}

.nav-link-underline {
    margin-top: 35px;
    background-color: white;
    width: 70px;
    height: 3px;
    transition: 0.6s;
    display: none;
    opacity: 0;
}

#link-1-underline {
    width: 56px;
    display: block;
    opacity: 1;
}

#link-2-underline {
    width: 90px;
}

#link-3-underline {
    width: 55px;
}

#link-4-underline {
    width: 90px;
}

.blur-background {
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(11px);
    position: absolute;
    z-index: 2;
    width: 830px;
    height: 96px;
    right: 0;
    top: 40px;
}








/* Main body */

header {
    display: flex;
    position: absolute;
    bottom: 131px;
    justify-content: space-between;
    width: 1165px;
    padding-left: 110px;
    overflow: visible;
}

#main {
    width: 450px;
    height: 382px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#explore {
    height: 274px;
    width: 274px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    align-self: flex-end;
    color: var(--dark-font);
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Bellefair', serif;
    cursor: pointer;
    transition: 1s;
}

#explore:hover {
    animation: rotate 1.5s ease-out;
    box-shadow: white 0 0 20px;
}

#explore:active {
    transform: scale(0.98);
    box-shadow: 0px 3px 10px black;
}

@keyframes rotate {
    20% {
        transform: rotate(2160deg);
    }

    100% {
        transform: rotate(3600deg);
    }
}











@media (max-height: 800px) {
    header {
        bottom: 50px;
    }
}

@media (max-width: 1250px) {
    body {
        padding: 40px 70px 131px 30px;
    }

    header {
        width: 90%;
        padding-left: 30px;
    }

    .line {
        display: none;
    }
}

@media (max-width:850px) {
    * {
        overflow: unset;
    }

    body {
        background: no-repeat center center/cover url(../assets/home/background-home-tablet.jpg);
        padding: 0 0 90px 0;
        height: 1024px;
        text-align: center;
        overflow: unset;
    }

    .blur-background {
        display: none;
    }

    #navbar {
        margin: 0 20px auto;
    }

    #nav-items {
        width: 356px;
    }

    .link-no {
        margin-right: 5px;
    }

    header {
        flex-direction: column;
        position: static;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        width: 100%;
        height: 750px;
        padding-left: 0;
        margin-top: 80px;
    }

    #explore {
        align-self: center;
    }
}

@media (max-width:560px) and (orientation: portrait) {
    p {
        font-size: 14px;
    }
    
    h1 {
        font-size: 100px;
    }
    
    h2 {
        font-size: 18px;
        letter-spacing: 2.72px;
    }
    
    body {
        background: no-repeat center center/cover url(../assets/home/background-home-mobile.jpg);
        height: 100vh;
        padding: 0 24px 48px;
        overflow-x: hidden;
    }

    #navbar {
        margin: 0;
        position: static;
    }

    #nav-items {
        display: none;
    }

    #hamburger {
        display: block;
    }

    #close {
        display: none;
        position: absolute;
        z-index: 100;
        right: 24px;
    }

    header {
        height: fit-content;
        margin-top: 20px;
    }

    #main {
        width: 327px;
        height: 276px;
    }

    #explore {
        height: 150px;
        width: 150px;
        margin-top: 50px;
        font-size: 1rem;
    }

    #nav-items-mobile {
        display: none;
        flex-direction: column;
        height: 100vh;
        width: 55%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 50;
        text-align: left;
        gap: 50px;
        padding-top: 100px;
        padding-left: 40px;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(20px);
        animation: nav-slide 0.3s ease-out;
    }

    @keyframes nav-slide {
        from {
            right: -200px;
        }
    }

    a {
        font-size: 1.5rem;
    }
}
